<div class="grid">
  <div class="row" style="margin-top: 2.8cm;">
    <div class="col">
      <app-show-user-profile style="padding-left:100px;padding-right:100px;"></app-show-user-profile>
    </div>
    <div class="col-6" *appHasRole="admin">
      <app-seller-list></app-seller-list>
      <app-all-orders></app-all-orders>
    </div>
    <div class="col-6" *appHasRole="seller">
      <app-seller-articles></app-seller-articles>
      <app-order-history></app-order-history>
    </div>
    <div class="col-6" *appHasRole="customer">
      <app-all-articles></app-all-articles>
      <app-order-history></app-order-history>
    </div>
    <div class="col" *appHasRole="admin">
    </div>
    <div class="col" *appHasRole="seller">
      <app-add-article></app-add-article>
    </div>
    <div class="col" *appHasRole="customer">
    </div>
  </div>
</div>