<div class="height d-flex justify-content-center align-items-center" style="height: 450px;">
  <div  *ngIf="article" class="card p-3">
      <div class="d-flex justify-content-between align-items-center ">
          <div class="mt-2">
              <h4 class="text-uppercase">Bip Bip</h4>
              <div class="image" style="margin-left: 0.4cm;margin-top: 1cm;">
                <img class="rounded-circle img-fluid" src="../../../../assets/images/prodcuts.png" style="width:150px;height:110px">
              </div>
              <div class="mt-5">
                  <h3 class="main-heading mt-0">{{article.name}}</h3>
                  <h4 class="text-uppercase">{{article.price}}$</h4>
                </div>
          </div>
      </div>
      <p>{{article.description}}</p>
      <form [formGroup]="orderArticle">
        <div class="col-md-6">
          <label class="labels">Quantity</label>
          <input class="form-control"  formControlName="quantity" id="numberId" type="number" min="1" max="10000"  style="text-align:center ;">
        </div>
        <input type="text" class="form-control" formControlName="address" placeholder="address" >
        <span *ngIf="!address.valid && (address.touched)"class="alert alert-danger">
            Please provide address
        </span>
        <input type="text" class="form-control" formControlName="comment" placeholder="comment" >
        <span *ngIf="!comment.valid && (comment.touched)"class="alert alert-danger">
            Please provide comment
        </span>                
      </form>
      <button class="btn btn-success" (click)="Order(article)" >Order</button>
  </div>
</div>